header.header
    nav.nav.nav--tours
        a.nav__el(href='/') Jaime Franco Cerritos 
    .header__logo
        img(src='img/logo.png' alt='Brand logo')
    nav.nav.nav--user
        a.nav__el.nav__el--cta(href='/create-projects') Add project